@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #000;
  background: #167ac669;
}

.container {
  background: #dae9f6;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}
h1 {
   margin-top: 0.5em;
}
p {
  font-weight: 300;
}
.font-normal {
  font-weight: 400;
}
.font-semi-bold {
  font-weight: 600;
}
.font-bold {
  font-weight: 700;
}
.abort .content {
  margin-left: 10px;
}
.abort .content h1 {
  margin-top: 10px;
  font-size: 60px;
}
.abort .content h1 .smaller {
  font-size: 40px;
  color: #000;
}
.abort .content .lead {
  font-size: 25px;
  color: #000;
}
.lead.font-normal {
  font-weight: bold;
}
.abort .content .lead .font-normal {
  color: #000;
}
.abort .links {
  float: right;
  right: 0;
  margin-top: 125px;
}
.abort .links ul {
  display: block;
  padding: 0;
  margin: 0;
}
.abort .links ul li {
  list-style: none;
  display: inline;
  margin: 0 10px;
}
.abort .links ul li:first-child {
  margin-left: 0;
}
.abort .links ul li:last-child {
  margin-right: 0;
}
.abort .links ul li.current-version {
  color: #f2b7bd;
  font-weight: 400;
}

.abort a {
  color: #000;
  border-bottom: 1px solid #eee;
}

.summary a {
  color: #ddd;

}

a:hover {
  color: #333;
  text-decoration: none;
  border-bottom: 1px solid #ccc;
}
.abort .links ul li a {
  color: #ffffff;
}
.abort .links ul li a:hover {
  text-decoration: underline;
}
.abort .links ul li .icon-muted {
  color: #eb8b95;
  margin-right: 5px;
}
.abort .links ul li:hover .icon-muted {
  color: #ffffff;
}
.abort .copyright {
  margin-top: 10px;
  font-size: 0.9em;
  color: #f2b7bd;
  text-transform: lowercase;
  float: right;
  right: 0;
}
header {
    font-family: Courier;
    background: #000;
    color: #fff;
    padding: 1em;
    font-size: 1.2em;
}
@media (max-width: 1199px) {
  .abort .content h1 {
    font-size: 45px;
  }
  .abort .content h1 .smaller {
    font-size: 30px;
  }
  .abort .content .lead {
    font-size: 20px;
  }
}
@media (max-width: 991px) {
  .abort {
    margin-top: 0;
  }
  .abort .logo {
    margin: 40px auto;
  }
  .abort .content {
    margin-left: 0;
    text-align: center;
  }
  .abort .content h1 {
    margin-bottom: 20px;
  }
  .abort .links {
    float: none;
    text-align: center;
    margin-top: 60px;
  }
  .abort .copyright {
    float: none;
    text-align: center;
  }
}
@media (max-width: 767px) {
  .abort .content h1 .smaller {
    font-size: 25px;
    display: block;
  }
  .abort .content .lead {
    font-size: 16px;
  }
  .abort .links {
    margin-top: 40px;
  }
  .abort .links ul li {
    display: block;
    margin: 0;
  }
  .abort .links ul li .icon-muted {
    display: none;
  }
  .abort .copyright {
    margin-top: 20px;
  }
}

header a {
    color: #fff;
}

.leaflet-popup-content-wrapper {
    color: #000;
}

#map {
    height: 800px;
    width: 100%
}

.row {
    border-bottom: 1px solid #ccc;
    margin-bottom: 0.5em;
}

article {
    background: #888;
    color: #fff;
    padding: 1em;
    margin-bottom: 1em;
}
